<form class="input-form" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
        <p>
            {{ form.screenshots.label }} <br>
            {{ form.screenshots(class="screenshots-input") }}
            {% for error in form.screenshots.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        </p>
        <p>
            {{ form.optional_context.label }} <br>
            {{ form.optional_context(class="optional-context-input", rows="5") }}
            {% for error in form.optional_context.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        </p>
        <p>
            {{ form.submit(class="submit-button") }}
        </p>
    </fieldset>
</form>